.product-details-package-options{
  table{
    @extend .table;
    @extend .table-striped;
    margin-top: 20px;
  }
}

.product-line-stock{
  span{
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #c70505;
    background: #e9e9e9;
    padding: 5px;
  }
}
